<%= form_for(@likesforreply) do |f| %>
  <% if @likesforreply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@likesforreply.errors.count, "error") %> prohibited this likesforreply from being saved:</h2>

      <ul>
      <% @likesforreply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
